{
  "$schema": "https://json.schemastore.org/prettierrc",
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true
}
